a, .cursor-pointer {
    cursor: pointer;
}
.padding-md {
    padding: 10px;
}
.achievementIcon {
	background-image: url(../images/badges.png);
	display: block;
	width: 48px;
	height: 48px;
}
.thumbnail {
	display: inline-block;
}
#reviewChart {
	height: 400px;
}