a, .cursor-pointer {
    cursor: pointer;
}
.padding-md {
    padding: 10px;
}
.achievementIcon {
	max-width: 48px !important;
	width: 48px !important;
	height: 48px !important;
}
#reviewChart {
	height: 400px;
}