a, .cursor-pointer {
    cursor: pointer;
}
.padding-md {
    padding: 10px;
}
.achievementIcon {
	background-image: url(../images/badges.png);
	display: block;
	width: 48px;
	height: 48px;
}
.badgeSelector {
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 5px;
}
.badgeSelector:active {
	background-color: #ddd;
}
.thumbnail {
	display: inline-block;
}
#reviewChart {
	height: 400px;
}