<div data-ng-controller="configCtrl">
	<form name="configForm">
		<table class="table table-bordered table-striped">
			<tbody>
				<tr data-ng-cloak>
					<td class="text-right"><small>Created by {{
							(getProjectById(userState.currentProjectId)).createdBy | dash }}.
							Last updated by {{
							(getProjectById(userState.currentProjectId)).lastUpdatedBy | dash
							}} on {{
							(getProjectById(userState.currentProjectId)).lastUpdatedTs | date
							: 'medium' | dash }}</small></td>
				</tr>
				<tr class="form-group">
					<td><label for="projectName">Project name</label> <input
						id="projectName" class="form-control" maxlength="100"
						data-ng-model="(getProjectById(userState.currentProjectId)).name"
						data-save-on-event="blur" data-save-url="'api/projects'"
						data-save-post-data="(getProjectById(userState.currentProjectId))" /></td>
				</tr>
				<tr class="form-group">
					<td><label for="projectDescription">Project
							description</label> <input id="projectDescription" class="form-control"
						maxlength="255"
						data-ng-model="(getProjectById(userState.currentProjectId)).description"
						data-save-on-event="blur" data-save-url="'api/projects'"
						data-save-post-data="(getProjectById(userState.currentProjectId))" /></td>
				</tr>
				<tr
					data-ng-if="isUserAdmin || (getProjectById(userState.currentProjectId)).createdBy === currentUserNickname">
					<td class="text-center"><button class="btn btn-default"
							data-ng-click="confirmDeleteProject((getProjectById(userState.currentProjectId)))">Delete
							project</button></td>
				</tr>
			</tbody>
		</table>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th class="hidden-xs" width="55%">Description</th>
					<th width="15%">Points</th>
					<!-- <th class="visible-xs" width="1%"></th> -->
					<th width="1%"></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="achievement in userState.achievements">
					<td><input class="form-control" maxlength="100"
						placeholder="Name" data-ng-model="achievement.name"
						data-save-on-event="blur"
						data-save-url="'api/projects/' + userState.currentProjectId + '/achievements'"
						data-save-post-data="achievement" /></td>
					<td class="hidden-xs"><input class="form-control"
						placeholder="Description" maxlength="255"
						data-ng-model="achievement.description" data-save-on-event="blur"
						data-save-url="'api/projects/' + userState.currentProjectId + '/achievements'"
						data-save-post-data="achievement" /></td>
					<td><input type="number" class="form-control"
						placeholder="Points" maxlength="3"
						data-ng-model="achievement.points" data-save-on-event="blur"
						data-save-url="'api/projects/' + userState.currentProjectId + '/achievements'"
						data-save-post-data="achievement" /></td>
					<!-- <td class="text-center visible-xs"><a
						data-ng-click="editAchievement(achievement)"><span
							class="glyphicon glyphicon-pencil"></span></a></td> -->
					<td class="text-center"><a
						data-ng-click="deleteAchievement(achievement)"><span
							class="hidden-xs">Delete</span></a>
						<button class="visible-xs btn btn-default"
							data-ng-click="deleteAchievement(achievement)">
							<span class="glyphicon glyphicon-remove"></span>
						</button></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td class="hidden-xs"></td>
					<td class="text-center"><button
							class="btn btn-default hidden-xs"
							data-ng-click="addAchievement()">Add</button>
						<button class="visible-xs btn btn-default"
							data-ng-click="addAchievement()">
							<span class="visible-xs glyphicon glyphicon-plus"></span>
						</button></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>