<div data-ng-controller="configCtrl">
	<form name="configForm">
		<table class="table table-bordered table-striped table-hover">
			<tbody>
				<tr data-ng-cloak>
					<td class="text-right"><small>Created by {{
							(getProjectById(userState.currentProjectId)).createdBy | dash }}.
							Last updated by {{
							(getProjectById(userState.currentProjectId)).lastUpdatedBy | dash
							}} on {{
							(getProjectById(userState.currentProjectId)).lastUpdatedTs | date
							: 'medium' | dash }}</small></td>
				</tr>
				<tr class="form-group">
					<td><label for="projectName">Project name</label> <input
						id="projectName"
						data-ng-model="(getProjectById(userState.currentProjectId)).name"
						class="form-control" data-save-on-event="blur"
						data-save-url="'api/projects'"
						data-save-post-data="(getProjectById(userState.currentProjectId))" /></td>
				</tr>
				<tr class="form-group">
					<td><label for="projectDescription">Project
							description</label> <input id="projectDescription"
						data-ng-model="(getProjectById(userState.currentProjectId)).description"
						class="form-control" data-save-on-event="blur"
						data-save-url="'api/projects'"
						data-save-post-data="(getProjectById(userState.currentProjectId))" /></td>
				</tr>
				<!-- 
                <tr class="form-group">
                	<td>
                		<label for="projectMembers">Project members</label>
                		<input id="projectMembers" data-ng-model="(getProjectById(userState.currentProjectId)).members" class="form-control" />
                	</td>
                </tr>
                -->
				<tr>
					<td class="text-center"><a
						data-ng-click="confirmDeleteProject((getProjectById(userState.currentProjectId)))">Delete
							project</a></td>
				</tr>
			</tbody>
		</table>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th width="65%">Description</th>
					<th width="10%">Points</th>
					<th width="1%"></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="achievement in userState.achievements">
					<td><input data-ng-model="achievement.name"
						class="form-control" placeholder="Name" data-save-on-event="blur"
						data-save-url="'api/projects/' + userState.currentProjectId + '/achievements'"
						data-save-post-data="achievement" /></td>
					<td><input data-ng-model="achievement.description"
						class="form-control" placeholder="Description"
						data-save-on-event="blur"
						data-save-url="'api/projects/' + userState.currentProjectId + '/achievements'"
						data-save-post-data="achievement" /></td>
					<td><input data-ng-model="
						achievement.points"
						type="number" class="form-control" placeholder="Points"
						data-save-on-event="blur"
						data-save-url="'api/projects/' + userState.currentProjectId + '/achievements'"
						data-save-post-data="achievement" /></td>
					<td class="text-center"><a
						data-ng-click="deleteAchievement(achievement)">Delete</a></td>
				</tr>
				<tr>
					<td colspan="3"></td>
					<td class="text-center"><a data-ng-click="addAchievement()">Add</a></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>