<p data-ng-if="userState.projects.length === 0">No projects yet. Try creating one, or <a data-ng-click="showPreferences()">subscribe to an existing one</a>.</p>
<p data-ng-if="userState.projects.length !== 0">Please choose a project:</p>
<dl class="dl-horizontal">
	<dt data-ng-repeat-start="project in userState.projects | filter : isSubscribed"
		title="{{ project.name }}">
		<a href="#/project/{{ project.id }}">{{ project.name }}</a>
	</dt>
	<dd data-ng-repeat-end>{{ project.description }}</dd>
</dl>