<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<!-- JSPC servlet mappings start -->

    <servlet>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsps.main_jsp</servlet-name>
        <servlet-class>org.apache.jsp.WEB_002dINF.jsps.main_jsp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.WEB_002dINF.jsps.main_jsp</servlet-name>
        <url-pattern>/WEB-INF/jsps/main.jsp</url-pattern>
    </servlet-mapping>

<!-- JSPC servlet mappings end -->

<security-constraint>
		<web-resource-collection>
			<web-resource-name>everything</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<servlet>
		<servlet-name>mvc-service</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>mvc-web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc-service</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mvc-web</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/mvc-service-servlet.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
</web-app>
